<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
    <a class="navbar-brand" href="#">CollegeStash</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#csNavbar" aria-controls="csNavbar"
            aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="csNavbar">
        <ul class="navbar-nav mr-auto">
            <li *ngIf="!showLogout" class="nav-item makePointer" routerLink="login" routerLinkActive="active">
                <a class="nav-link">Login</a>
            </li>
            <li *ngIf="showLogout" class="nav-item makePointer" routerLink="logout" routerLinkActive="active">
                <a class="nav-link">Logout</a>
            </li>
            <li *ngIf="!showLogout" class="nav-item makePointer" routerLink="signup" routerLinkActive="signup">
                <a class="nav-link">Signup</a>
            </li>
            <li class="nav-item makePointer" routerLink="contact" routerLinkActive="contact">
                <a class="nav-link">Contact</a>
            </li>
        </ul>
        <div class="input-group margin-bottom-sm search-class-width">
            <span class="input-group-addon search-class search-icon"><i class="fa fa-search fa-fw"></i></span>
            <input class="form-control search-class" type="text" placeholder="Search">
        </div>
    </div>
</nav>