.search {
  position: relative;
  color: #aaa;
  font-size: 16px;
  input {
    width: 250px;
    height: 32px;
    background: #fcfcfc;
    border: 1px solid #aaa;
    border-radius: 5px;
    box-shadow: 0 0 3px #ccc, 0 10px 15px #ebebeb inset;
    text-indent: 32px;
  }
  .fa-search {
    position: absolute;
    left: 10px;
  }
}

.search-icon {
  font-size: 18px;
  top: 6px;

  &.back {
    height: 36px;
    width: 38px;
    background-color: white;
    border-bottom-left-radius: .25em;
    border-top-left-radius: .25em;
    padding: 10px;
    color: grey;
    border-right: none;
  }
}

.nav-item {
  &.makePointer {
    cursor: pointer;
  }
}

.searchInput {
  border-top-left-radius: unset;
  border-bottom-left-radius: unset;
  border-left: none;
}