<div class="row">
    <div class="col-sm-3 formLeftMargin">
        <form (ngSubmit)="onLoginSubmit()" #userLoginForm="ngForm">
            <fieldset>
                <legend>Login</legend>
                <div class="formLeftMargin">
                <div class="form-group">
                    <label for="email">Email address:</label>
                    <input [(ngModel)]="email" type="email" name="email" class="form-control" id="email">
                </div>
                <div class="form-group">
                    <label for="pwd">Password:</label>
                    <input type="password" class="form-control" id="pwd" [(ngModel)]="pwd" name="pwd">
                </div>
                <div class="checkbox">
                    <label><input type="checkbox" [checked]="rememberMe" (change)="rememberMe = !rememberMe" name="rememberMe"> Remember me</label>
                </div>
                <button [disabled]="!userLoginForm.form.valid" class="btn btn-info" type="submit"><i class="fa fa-paper-plane"
                                                                                      aria-hidden="true"></i> Submit
                </button>
                </div>
            </fieldset>
        </form>
    </div>
</div>
<div *ngIf="loading" class="loader addLeftMargin"></div>
<div class="row marginTop marginSides">
    <div class="alert alert-success" *ngIf="successMessage==='OK'">
        <strong><i class="fa fa-check" aria-hidden="true"></i> Success!</strong> User registered
        successfully.
    </div>
    <div class="alert alert-danger" *ngIf="errorMessage!==''">
        <strong><i class="fa fa-remove" aria-hidden="true"></i> Error!</strong>
        {{errorMessage}}
    </div>
</div>

