<div class="row">
    <div class="col-sm-3 formLeftMargin">
        <form *ngIf="!showFP">
            <fieldset>
                <legend>Login</legend>
                <div class="formLeftMargin">
                    <div class="form-group">
                        <label for="email">Email address:</label>
                        <input [(ngModel)]="email" type="email" name="email" class="form-control" id="email">
                    </div>
                    <div class="form-group">
                        <label for="pwd">Password:</label>
                        <input type="password" class="form-control" id="pwd"
                               [(ngModel)]="pwd" name="pwd">
                        <div class="makePointer" (click)="forgotPasswordClick()">Forgot Password</div>
                        <div class="makePointer" routerLink="/signup">Not Registered yet? Signup</div>
                    </div>
                    <re-captcha
                            #captchaRef="reCaptcha"
                            (resolved)="resolvedLogin($event)"
                            size="invisible"></re-captcha>
                    <button (click)="onLoginClick(captchaRef)" [disabled]="isNotValid() || loading"
                            class="btn btn-lg btn-primary btn-block"
                            type="submit"><i
                            class="fa fa-paper-plane"
                            aria-hidden="true"></i> Login
                    </button>
                </div>
            </fieldset>
        </form>
        <div class="container">
            <div class="row" *ngIf="showFP">
                <div class="col-1 back-button makePointer" (click)="loginClick()"><i
                        class="fa fa-arrow-circle-left fa-2x"
                        aria-hidden="true"></i></div>
            </div>
        </div>
        <form *ngIf="showFP">
            <fieldset>
                <legend>Forgot Password</legend>
                <div class="formLeftMargin">
                    <div class="form-group">
                        <label for="emailFP">Email address:</label>
                        <input [(ngModel)]="email" type="email" name="email" class="form-control" id="emailFP">
                    </div>
                    <re-captcha
                            #captchaRefFP="reCaptcha"
                            (resolved)="resolvedFP($event)"
                            size="invisible"></re-captcha>
                    <button (click)="onLoginClick(captchaRefFP)" [disabled]="isNotValid() || loading"
                            class="btn btn-lg btn-primary btn-block"
                            [ngClass]="{'makePointer': !(isNotValid() || loading)}" type="submit"><i
                            class="fa fa-paper-plane"
                            aria-hidden="true"></i> Email
                    </button>
                </div>
            </fieldset>
        </form>
    </div>
</div>
<div *ngIf="loading" class="loader addLeftMargin"></div>
<div class="row marginTop marginSides">
    <div class="alert alert-success" *ngIf="successMessage!==''">
        <strong><i class="fa fa-check" aria-hidden="true"></i> Success!</strong> <span [innerHTML]="successMessage"></span>
    </div>
    <div class="alert alert-danger" *ngIf="errorMessage!==''">
        <strong><i class="fa fa-remove" aria-hidden="true"></i> Error!</strong>
        {{errorMessage}}
    </div>
</div>

