<form class="formLeftMargin">
  <fieldset>
    <legend>User Registration</legend>
    <div class="formLeftMargin">
      <div class="form-group">
        <label for="fname">First Name:</label>
        <input [(ngModel)]="fname" type="text" class="form-control" id="fname" name="fname">
      </div>

      <div class="form-group">
        <label for="lname">Last Name:</label>
        <input [(ngModel)]="lname" type="text" class="form-control" id="lname" name="lname">
      </div>

      <div class="form-group">
        <label for="email">Email:</label>
        <input [(ngModel)]="email" type="email" class="form-control" id="email" name="email">
      </div>

      <div class="form-group">
        <label for="confirmEmail">Confirm Email:</label>
        <input [(ngModel)]="cemail" type="email" class="form-control" id="confirmEmail" name="cemail">
      </div>

      <div class="form-group">
        <label for="dob">DOB:</label>
        <input [(ngModel)]="dob" type="date" class="form-control" id="dob" name="dob">
      </div>

      <div class="form-group">
        <label for="pwd">Password:</label>
        <input [(ngModel)]="pwd" type="password" class="form-control" name="pwd" id="pwd">
      </div>
      <div class="form-group">
        <label for="confirmPwd">Confirm Password:</label>
        <input [(ngModel)]="cpwd" type="password" class="form-control" name="confirmPwd" id="confirmPwd">
      </div>
      <div class="form-group">
        <label class="radio-inline">
          <input type="radio" value="m" [(ngModel)]="gender" name="gender">M
        </label>
        <label class="radio-inline">
          <input type="radio" value="f" [(ngModel)]="gender" name="gender">F
        </label>
      </div>
      <button type="submit" (click)="onSubmit()"type="submit" class="btn btn-info"
              [disabled]="isNotValid()"><i
              class="fa fa-paper-plane"
              aria-hidden="true"></i>
        Submit
      </button>
    </div>
  </fieldset>
</form>
<div *ngIf="loading" class="loader addLeftMargin"></div>
<div class="row marginTop marginSides">
  <div class="alert alert-success" *ngIf="successMessage==='OK'">
    <strong><i class="fa fa-check" aria-hidden="true"></i> Success!</strong> User registered
    successfully.
  </div>
  <div class="alert alert-danger" *ngIf="errorMessage!==''">
    <strong><i class="fa fa-remove" aria-hidden="true"></i> Error!</strong>
    {{errorMessage}}
  </div>
</div>