<header class="header clearfix">
    <nav>
        <ul class="nav nav-pills float-left">
            <li class="nav-item">
                <a class="nav-link makePointer" (click)="setActive('student')"
                   [ngClass]="{'active makeActivePointer': isActive('student')}">Student</a>
            </li>
            <li class="nav-item">
                <a class="nav-link makePointer" (click)="setActive('recruiter')"
                   [ngClass]="{'active makeActivePointer': isActive('recruiter')}">Recruiter</a>
            </li>
        </ul>
    </nav>
</header>
<form class="formLeftMargin" *ngIf="isActive('student')">
    <fieldset>
        <legend>Student Registration</legend>
        <div class="formLeftMargin">
            <div class="form-group">
                <label for="fname">First Name:</label>
                <input [(ngModel)]="fname" type="text" class="form-control" id="fname" name="fname">
            </div>

            <div class="form-group">
                <label for="lname">Last Name:</label>
                <input [(ngModel)]="lname" type="text" class="form-control" id="lname" name="lname">
            </div>

            <div class="form-group">
                <label for="email">Email (<em>.edu</em>):</label>
                <input (keyup)="emailToLower($event)" [(ngModel)]="email" type="email" class="form-control" id="email"
                       name="email">
            </div>

            <div class="form-group">
                <label for="dob">DOB (<em>18+ only</em>):</label>
                <input [(ngModel)]="dob" type="date" class="form-control" id="dob" name="dob">
            </div>

            <div class="form-group">
                <label for="pwd">Password (<em>Alphanumeric, 6-24 long, atleast 1 uppercase, 1 lowercase & 1 special
                    character</em>):</label>
                <input [(ngModel)]="pwd" type="password" class="form-control" name="pwd" id="pwd">
            </div>

            <div class="form-group">
                <label class="radio-inline">
                    <input type="radio" value="m" [(ngModel)]="gender" name="gender">M
                </label>
                <label class="radio-inline">
                    <input type="radio" value="f" [(ngModel)]="gender" name="gender">F
                </label>
            </div>
            <re-captcha
                    #captchaRef="reCaptcha"
                    (resolved)="resolvedUserReg($event)"
                    size="invisible"></re-captcha>
            <button type="submit" (click)="onUserRegClick(captchaRef)" type="submit" class="btn btn-lg btn-success"
                    [ngClass]="{'makePointer': !(isNotValid() || loading)}"
                    [disabled]="isNotValid() || loading"><i
                    class="fa fa-paper-plane"
                    aria-hidden="true"></i>
                Sign up
            </button>
        </div>
    </fieldset>
</form>
<form class="formLeftMargin" *ngIf="isActive('recruiter')">
    <fieldset>
        <legend>Recruiter Registration</legend>
        <div class="formLeftMargin">
            <div class="form-group">
                <label>Name:</label>
                <input [(ngModel)]="name" type="text" class="form-control" name="name">
            </div>
            <div class="form-group">
                <label>Company:</label>
                <input [(ngModel)]="company" type="text" class="form-control" name="company">
            </div>
            <div class="form-group">
                <label>Email:</label>
                <input (keyup)="emailToLowerR($event)" [(ngModel)]="remail" type="email" class="form-control"
                       name="rmail">
            </div>
            <div class="form-group">
                <label>Password (<em>Alphanumeric, 6-24 long, atleast 1 uppercase, 1 lowercase & 1 special
                    character</em>):</label>
                <input [(ngModel)]="rpwd" type="password" class="form-control" name="rpwd">
            </div>
            <re-captcha
                    #captchaRefRec="reCaptcha"
                    (resolved)="resolvedRecruiterReg($event)"
                    size="invisible"></re-captcha>
            <button type="submit" (click)="onRecruiterRegClick(captchaRefRec)" type="submit"
                    class="btn btn-lg btn-success" [ngClass]="{'makePointer': !(isNotValidRecruiter() || loading)}"
                    [disabled]="isNotValidRecruiter() || loading"><i
                    class="fa fa-paper-plane"
                    aria-hidden="true"></i>
                Sign up
            </button>
        </div>
    </fieldset>
</form>
<div *ngIf="loading" class="loader addLeftMargin"></div>
<div class="row marginTop marginSides">
    <div class="alert alert-success" *ngIf="successMessage!==''">
        <strong><i class="fa fa-check" aria-hidden="true"></i> Success!</strong> <span [innerHTML]="successMessage">
    </span></div>
    <div class="alert alert-danger" *ngIf="errorMessage!==''">
        <strong><i class="fa fa-remove" aria-hidden="true"></i> Error!</strong>
        {{errorMessage}}
    </div>
</div>