<div class="container">
    <div class="row" *ngIf="jobSelected">
        <div class="col-1 back-button" routerLink="/userHome"><i class="fa fa-arrow-circle-left fa-2x"
                                                                 aria-hidden="true"></i></div>
        <div class="col-11">
            <h2>Job {{jobSelected.title}}</h2>
        </div>
        <div class="col-10">
            <div *ngIf="loading" class="loader addLeftMargin"></div>
            <div>
                {{jobSelected.company}}
            </div>
            <div>{{jobSelected.city}}, {{jobSelected.state}} - {{jobSelected.zip}}</div>
            <div>{{jobDescription}}</div>
        </div>
    </div>
</div>