<div class="container">
    <div class="row" *ngIf="jobSelected">
        <div class="col-1 back-button makePointer" routerLink="/recruiterHome"><i class="fa fa-arrow-circle-left fa-2x"
                                                                                  aria-hidden="true"></i></div>
        <div class="col-9">
            <h2>Job {{jobSelected.title}}</h2>
        </div>
        <div class="col-1">
            <button type="button" class="btn makePointer" (click)="toggleJob(jobSelected)"
                    [ngClass]="{'btn-danger': jobSelected.visible === 'y', 'btn-success': jobSelected.visible === 'n'}">
                <i class="fa"
                   [ngClass]="{'fa-fire-extinguisher': jobSelected.visible === 'y', 'fa-eye': jobSelected.visible === 'n'}"
                   aria-hidden="true"></i>
                {{jobSelected.visible === 'y' ? 'Hide' : 'Show'}}
            </button>
        </div>
        <div class="col-10">
            <div *ngIf="loading" class="loader addLeftMargin"></div>
            <div>
                <i class="fa fa-building" aria-hidden="true"></i> {{jobSelected.company}}
            </div>
            <div><i class="fa fa-clock-o" aria-hidden="true"></i> {{jobSelected.time}} <i class="fa fa-map-marker"
                                                                                          aria-hidden="true"></i>
                {{jobSelected.city}}, {{jobSelected.state}} - {{jobSelected.zip}}
            </div>
            <div>{{jobDescription}}</div>
        </div>
    </div>
    <div *ngIf="loading" class="loader addLeftMargin"></div>
    <div class="row marginTop marginSides">
        <div class="alert alert-danger" *ngIf="errorMessage!==''">
            <strong><i class="fa fa-remove" aria-hidden="true"></i> Error!</strong>
            {{errorMessage}}
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <div class="input-group margin-bottom-sm search-class-container borderGrey">
                <span class="input-group-addon search-class search-icon"><i class="fa fa-search fa-fw"></i></span>
                <input [(ngModel)]="applicantSearch" class="form-control search-class removeFocus" type="text"
                       placeholder="Search">
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <div class="table-responsive">
                <table class="table table-bordered table-hover">
                    <thead class="thead-cs">
                    <tr>
                        <th>#</th>
                        <th>Applicant</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr class="job makePointer"
                        *ngFor="let applicant of applicants | searchApplicants: applicantSearch; let i = index"
                        (click)="showApplicant(applicant)" data-toggle="modal"
                        data-target="#viewApplicantModal">
                        <td>{{i+1}}</td>
                        <td>{{applicant.fname}}</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="viewApplicantModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">{{applicant.fname}} {{applicant.lname}}</h5>
                <button type="button" (click)="modalOnClose()" class="close makePointer" data-dismiss="modal"
                        aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div *ngIf="applicant && !mloading" class="row">
                    <div class="col-1">
                        <i class="fa fa-2x"
                           [ngClass]="{'fa-male': applicant.gender === 'm', 'fa-female': applicant.gender === 'f'}"
                           aria-hidden="true"></i>
                    </div>
                    <div class="col-6">
                        <div class="row">
                            <div class="col-1"><i class="fa fa-address-card-o makeInline" aria-hidden="true"></i></div>
                            <div class="col-3">{{applicant.email}}</div>
                        </div>
                        <div class="row">
                            <div class="col-1"><i class="fa fa-clock-o" aria-hidden="true"></i></div>
                            <div class="col-10">Applied {{applicant.time}}</div>
                        </div>
                        <div class="makeInline">
                            <div class="makeInline addAllMargin">
                                <a *ngIf="applicant.github" title="github"
                                   href="https://www.github.com/{{applicant.github}}"
                                   target="_blank"><i class="fa fa-github fa-2x" aria-hidden="true"></i></a>
                            </div>
                            <div class="makeInline addAllMargin">
                                <a *ngIf="applicant.linkedin" title="linkedin"
                                   href="https://www.linkedin.com/in/{{applicant.linkedin}}"
                                   target="_blank"><i class="fa fa-linkedin fa-2x" aria-hidden="true"></i></a>
                            </div>
                            <div class="makeInline addAllMargin">
                                <a *ngIf="applicant.portfolio" title="portfolio" href="http://{{applicant.portfolio}}"
                                   target="_blank"><i
                                        class="fa fa-address-card fa-2x" aria-hidden="true"></i></a>
                            </div>
                        </div>
                    </div>
                    <div *ngIf="mloading" class="loader addLeftMargin"></div>
                    <div class="row marginTop marginSides">
                        <div class="alert alert-danger" *ngIf="merrorMessage!==''">
                            <strong><i class="fa fa-remove" aria-hidden="true"></i> Error!</strong>
                            {{merrorMessage}}
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary makePointer" (click)="modalOnClose()"
                            data-dismiss="modal">Close
                    </button>
                </div>
            </div>
        </div>
    </div>
