<button type="button" class="btn btn-lg btn-primary makePointer" [disabled]="loading" data-toggle="modal"
        data-target="#postJobModal">
    <i class="fa fa-podcast" aria-hidden="true"></i> Add Job
</button>

<div class="modal fade" id="postJobModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title"><i class="fa fa-bullhorn" aria-hidden="true"></i> Add New Job!</h5>
                <button id="postJobModalClose" type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <label>Title</label>
                        <input type="email" class="form-control" [(ngModel)]="jobObj.title" name="title"
                               placeholder="ex: Front End Engineer">
                    </div>
                    <div class="form-group">
                        <label>Location (zip)</label>
                        <input type="number" min="705" max="99950" class="form-control" [(ngModel)]="jobObj.zip"
                               name="zip">
                    </div>
                    <div class="form-group">
                        <label>Description</label>
                        <textarea class="form-control" [(ngModel)]="jobObj.description" name="description"
                                  rows="3"></textarea>
                    </div>
                </form>
                <div *ngIf="loading" class="loader addLeftMargin"></div>
                <div class="row marginTop marginSides">
                    <div class="alert alert-danger" *ngIf="errorMessage!==''">
                        <strong><i class="fa fa-remove" aria-hidden="true"></i> Error!</strong>
                        {{errorMessage}}
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary makePointer" data-dismiss="modal">Close</button>
                <button type="submit" [disabled]="isNotValid()" (click)="postJob()" class="btn btn-primary makePointer">
                    <i class="fa fa-paper-plane" aria-hidden="true"></i> Post Job
                </button>
            </div>
        </div>
    </div>
</div>

<h2>Your Jobs</h2>

<div class="container">
    <div class="row">
        <div class="col-4">
            <div class="input-group margin-bottom-sm search-class-container borderGrey">
                <span class="input-group-addon search-class search-icon"><i class="fa fa-search fa-fw"></i></span>
                <input [(ngModel)]="jobSearch" class="form-control search-class removeFocus" type="text"
                       placeholder="Search">
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <div *ngIf="loading" class="loader addLeftMargin"></div>
            <div class="table-responsive">
                <table class="table table-bordered table-hover">
                    <thead class="thead-cs">
                    <tr>
                        <th>#</th>
                        <th>Title</th>
                        <th><i class="fa fa-building" aria-hidden="true"></i> Company</th>
                        <th><i class="fa fa-map-marker" aria-hidden="true"></i> City</th>
                        <th>State</th>
                        <th>Zip</th>
                        <th><i class="fa fa-clock-o" aria-hidden="true"></i> Time</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr class="job" [ngClass]="{'table-primary': job.visible === 'y'}" *ngFor="let job of jobs | searchJobs: jobSearch; let i = index" routerLink="/recruiterJob/{{job.id}}"
                        (click)="setJob(job)">
                        <td>{{job.id}}</td>
                        <td>{{job.title}}</td>
                        <td>{{job.company}}</td>
                        <td>{{job.city}}</td>
                        <td>{{job.state}}</td>
                        <td>{{job.zip}}</td>
                        <td>{{job.time}}</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
